.more-info{
    padding-top: 3.5rem;
    padding-inline: 4%;
    margin: 0 auto;

    .infolist{
        margin-bottom: 1rem;
        margin-top: 2rem;
        
        &-ul {
            list-style: none;
            font-size: 14px;
            font-weight: 600;
            
            li{
                height: 40px;
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
        }
    }


}

.legal-info{
    margin-bottom: 1rem;
    padding: 0 4%;
    margin-inline:  auto;

    .legal-list{
        list-style: none;
        font-size: 14px;
        font-weight: 600;
        border-top: 2px solid #ebeaeb;
        padding-block: 1rem;

            li{
            padding-block: 16px;
            display: flex;
            align-items: center;
            gap: 2px;
        }
    }

    .download-a{
        color: #1264a3;
        font-weight: 700;
        font-size: 14px;
        padding-block: 16px;
    }

    .rrss-list{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        
        li{
            display: flex;
            padding-block: 16px;
        }
    }

    .copyright{
        font-size: 12px;
        color: #454245;
        font-weight: 400;
        line-height: 1.25rem;
        padding-block: 16px;
    }

}